In [ ]:
# 변수 생성
a = 10
print(a)
print(type(a))

# title
## title2
### title3

#### list
1. list1
2. list2
    1. sub_list1
    2. sub_list2

- list1
- list2
    - sub_list1
    - sub_list2

In [ ]:
# 산술연산자 
x = 10
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
# 나눗셈의 몫
print(x // y)
# 나눗셈의 나머지
print(x % y)
# 제곱 (지수 승)
print(x ** y)

In [ ]:
# 대입 연산자
x = 10
x += 3
# x = x + 3
print(x)

In [ ]:
# 비교연산자 -> 결과가 True/False (bool)
x = 10 
y = 5
print(x == y, x != y)

### 자료형 데이터 
- 여러개의 데이터를 하나의 변수에 저장시키는 형태 
- tuple
    - 자료형 데이터에서 가장 기본적인 방법 
    - ()를 이용해서 데이터를 생성 
    - 한번 만들어지면 수정이 불가능
- list 
    - []를 이용해서 데이터를 생성 
    - tuple과는 다르게 각 원소들을 수정, 추가, 삭제가 가능
    - list의 내장 함수를 이용해서 다음과 같은 작업이 가능
    - 원소의 개수는 0개 이상으로 생성이 가능
- dict
    - {} 안에 데이터를 key : value의 형태로 생성
    - list, tuple은 데이터의 위치를 기준으로 데이터가 생성이 되는 반면에 dict는 key기준으로 데이터가 생성
    - 원소의 개수는 0개 이상으로 생성이 가능

In [ ]:
# tuple 데이터를 생성
tuple_a = (10, "test")
tuple_b = (3, 3.14)
print(tuple_a)
print(tuple_b)
print(type(tuple_a))
print(type(tuple_b))

In [ ]:
print(tuple_a + tuple_b)
print(tuple_a * 3)

In [ ]:
# tuple 원소들을 따로 추출하여 출력 
# python에서는 위치가 0부터 시작
print(tuple_a[0])
print(tuple_b[1])

In [ ]:
tuple_c = tuple_a * 4
# 2번째부터 5번째 까지 데이터를 추출 
print(tuple_c[1:5])
# 처음부터 3번째 까지 
print(tuple_c[:3])
# 4번째부터 마지막 까지 
print(tuple_c[3:])
# 끝에 있는 3개의 데이터 추출 
print(tuple_c[len(tuple_c)-3:])
print(tuple_c[-3:])

In [ ]:
# list 형태 데이터 확인 
list_a = [20, 10, 40, 30]
list_b = ['abc', 'fi', 'be']
print(list_a)
print(list_b)
print(type(list_a))
print(type(list_b))

In [ ]:
# list 내장 함수 
# 정렬을 변경 
# sort() 함수를 이용 -> list class 안에 존재하는 sort() 함수
list_a.sort()
print(list_a)
list_b.sort(reverse=True)
print(list_b)

In [ ]:
# 순서를 역순으로 변경
# reverse()
list_b.reverse()
print(list_b)

In [ ]:
# 리스트에서 데이터를 추가하는 함수 
# append(value)
list_a.append(10)
print(list_a)

In [ ]:
# 리스트에서 가장 마지막에 있는 데이터를 제거하는 함수 
# pop()
list_b.pop()
print(list_b)

In [ ]:
# 원하는 위치에 데이터를 대입 하는 함수 
# insert(index, value)
list_a.insert(3, 55)
print(list_a)

In [ ]:
# 특정 데이터를 제거하는 함수 
# remove(value)
list_a.remove(10)
print(list_a)

In [ ]:
# 특정 위치의 데이터를 제거하는 함수
# del
del list_a[2]
print(list_a)

In [ ]:
list_a_clone = list_a
print(list_a_clone)

In [ ]:
list_a.append(20)
print(list_a)
print(list_a_clone)

In [ ]:
list_a_copy = list_a.copy()
print(list_a_copy)
print(list_a)

In [ ]:
list_a.pop()
print(list_a)
print(list_a_clone)
print(list_a_copy)

In [ ]:
sorted(list_a)

In [ ]:
list_a + list_b

In [ ]:
list_a_copy.count(100)

In [ ]:
len(list_a_copy)

In [ ]:
# dict 형태의 데이터
dict_a = {
    "name" : "test", 
    "age" : 20, 
    "phone" : "01012345678"
}
print(dict_a)

In [ ]:
print(dict_a['name'])

In [ ]:
# dict 형태에 새로운 key : value 추가하려면
dict_a['birth'] = '2000'

In [ ]:
print(dict_a)

In [ ]:
# dict에서 key 값들만 출력 
print(dict_a.keys())
print(list(dict_a.keys())[0])

In [ ]:
# dict에서 value 값들만 출력 
print(dict_a.values())

In [ ]:
print(dict_a.items())

In [47]:
# mysql DataBase에서 데이터를 로드 하는 경우 데이터의 타입이 
# list 안에 dict 형태의 2차원 데이터
sample_data = [
    {
        'name' : 'test', 
        'pwd' : '1234'
    }, 
    {
        'name' : 'test2', 
        'pwd' : '1111'
    }, 
    {
        'name' : 'test3', 
        'pwd' : '2222'
    }
]

In [ ]:
# sample_data에서 'test2' 문자를 출력하려면?
# 외곽에 있는 괄호부터 하나씩 차근차근 없앤다. 
print(sample_data)
# sample_data에서 2번째 데이터를 선택 
print(sample_data[1])
# name이라는 key 값에 데이터를 선택
print(sample_data[1]['name'])

In [ ]:
# 조건문 반복문
# if문 조건식이 참인경우 거짓인 경우 실행되는 코드 작성 
a = 10
if a > 5:
    print("a는 5보다 크다")
else:
    print("a는 5보다 작거나 같다")

In [ ]:
score = int(
    input(
        "점수를 입력하시오 : "
    )
)
# 학점을 조건문을 이용해서 출력 
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')
# if문이 끝나고 실행이 되는 부분
print('프로그램 종료')

In [ ]:
# for문
# 기본적인 형태
# for 변수명 in range(시작값, 종료값, 증가값)
# 시작값은 기본값 (0), 증가값 기본값(1)
for i in range(1, 10, 1):
    print(i, end='\t')

In [ ]:
# 10번 반복을 하는 반복문
for i in range(10):
    print(i)

In [ ]:
list_a = [1,3,5,7,9]
# 반복문을 이용해서 list_a의 데이터들을 하나씩 출력 
for i in range(len(list_a)):
    # i가 의미하는 것은? 0 ~ 4 -> 리스트의 index 값
    print(list_a[i])

In [ ]:
for i in list_a:
    # i는 list_a에 각각의 데이터가 대입이 되서 반복
    print(i)

In [ ]:
# while문 
# 초기값을 설정 
i = 0
while i <= 10:
    print(i)
    # 증가식 
    i += 1
    # i = i + 1

In [ ]:
# 1 ~ 10 까지의 합계
# 합계 초기값 설정
result = 0
# 첫번째 반복 : i = 1, result = 0 -> result = 0 + 1 -> result = 1
# 두번째 반복 : i = 2, result = 1 -> result = 2 + 1 -> result = 3
# 세번째 반복 : i = 3, result = 3 -> result = 3 + 3 -> result = 6
# ....
# 열번째 반복 : i = 10, result = 45 - > result = 10 + 45 -> result = 55
# 반복이 종료료
for i in range(1, 11, 1):
    result += i
print(result)

In [ ]:
result = 0 
for i in range(10):
    result += (i + 1)
print(result)

In [ ]:
i = 1 
result = 0

while i < 11:
    result += i
    i += 1
print(result)

In [ ]:
# 1부터 50까지의 숫자중에 7의 배수인 데이터들을 모두 확인하고 저장

# 모든 숫자를 저장할 수 있는 공간(list)을 생성 
list_x = []
list_y = list()

for i in range(1, 51):
    # 7의 배수인 조건문 생성 
    if i % 7 == 0:
        # 조건식이 참이라면? -> list_x에 추가
        list_x.append(i)
    else:
        # 조건식이 거짓이라면? -> list_y에 추가 
        list_y.append(i)
print(list_x)
print(list_y)

In [ ]:
# sample_data에서 name의 value들만 가진 새로운 리스트 생성성
name_list = []

for i in sample_data:
    # print(i)
    # print(type(i))
    # break
    name_list.append(i['name'])
print(name_list)

In [ ]:
name_list = []
for i in range(len(sample_data)):
    # i는? -> sample_data의 index
    # print(i)
    # print(sample_data[i])
    # print(sample_data[i]['name'])
    name_list.append(sample_data[i]['name'])
print(name_list)

In [ ]:
# continue 구문 -> 반복문으로 되돌아간다. 
# 1부터 10까지 짝수들을 리스트로 생성 
list_x = []
for i in range(1, 11, 1):
    # 홀수인 조건식 
    if i % 2 == 1:
        continue
    list_x.append(i)
print(list_x)

In [ ]:
# 문자열 내장함수 
test_str = "  Hello world  "
test_str

In [ ]:
# 문자열의 모든 문자를 대문자로 변경 
# upper()
print(test_str.upper())

In [ ]:
# 모든 문자를 소문자로 변경 
print(test_str.lower())

In [ ]:
# 대문자는 소문자로 소문자는 대문자로 변경
print(test_str.swapcase())

In [ ]:
# 단어를 첫문자를 대문자로 변경
print(test_str.title())

In [ ]:
# 위의 함수들을 사용하는 이유는?
'Hello' == 'hello'

In [ ]:
a = 'Hello'
b = 'hello'
print(a == b)
print(a.upper() == b.upper())

In [ ]:
# 문자에서 시작과 종료 부분에 있는 공백을 제거하는 함수 
# strip() : 좌우 공백을 모두 제거 
# lstrip() : 좌측의 공백을 제거 
# rstrip() : 우측의 공백을 제거

In [ ]:
test_str.strip()

In [ ]:
test_str.lstrip()

In [ ]:
test_str.rstrip()

In [ ]:
# lstip()을 활용하는 경우 
# 달러 표시 -> $1.00 -> 타입? 문자  --> 사칙연산 불가
# 문자를 숫자로 변경 
cost = "$10"
# $문자때문에 숫자로 변경할때 에러 발생
# int(cost)
# $를 제거 (좌측에 $ 존재) -> lstrip()를 이용해서 제거 
print(cost) # $10
print(type(cost)) # str
print(cost.lstrip('$')) # '10'
cost2 = int(cost.lstrip('$'))
print(cost2) 
print(type(cost2))

In [ ]:
# '10,000원'이라는 문자를 숫자로 변경
# 우측에 있는 '원' 문자를 제거 
cost3 = '10,000원'
cost4 = cost3.rstrip('원')
print(cost4)
# ','문자를 숫자로 변환이 불가능 -> 에러 발생
# print(int(cost4))
# 문자열 중간에 있는 문자를 변경?
# replace(타켓문자, 변경될 문자) 함수를 이용
# replace(',', '')
cost5 = cost4.replace(',' , '')
print(cost5)
print(type(cost5))

In [ ]:
# replace함수를 이용해서 문자열의 공백을 제거 
a = "상품a"
b = "상품A"
c = "상 품 a"
d = "상 품 A"

print(a == b)
print(a == c)
print(a == d)
# a, b, c, d가 다 같은 형태(b와 같게)로 변경
# a는 모든 문자를 대문자로 변경 
a = a.upper()
# c는 문자열 사이에 있는 공백을 제거 
c = c.replace(' ', '')
# 모든 문자를 대문자로 변경 
c = c.upper()
# d는 문자열 사이에 있는 공백을 제거 
d = d.replace(' ', '')

print(a == b)
print(a == c)
print(a == d)

In [ ]:
# 문자열을 나눠주는 함수 (기본적으로 공백을 기준)
# split()
test_str2 = 'Hello World'
print(test_str2.split())

In [ ]:
# 특정 문자를 기준으로 문자를 나눠주는 방법
test_str3 = "a/b/c/d"
print(test_str3.split('/'))

In [100]:
sql = "select * from table"
sql3 = "SELECT * FROM table"
sql2 = """
    insert 
    into 
    table
    values 
    ()
"""
# print(sql)
# print(sql2)

In [ ]:
# sql, sql2 명령어 
# select 명령어인 경우에는 SELECT 단어를 출력
# select 명령어가 아닌 경우에는 RESULT 단어를 출력 
print(sql)
print(sql.split())
print(sql.split()[0])
print(sql.split()[0] == 'select')
# sql3에 문자는 모두 소문자로 변경 -> 
# 공백을 기준으로 문자를 나눠주고 ->
# 첫번째 문자를 추출
print(sql3.lower().split()[0] == 'select')

In [109]:
print(sql2.split()[0])

insert

In [114]:
# 문자열의 시작이 특정한 문자와 같은가? 함수 존재
print(sql.startswith('select'))
print(sql3.lower().startswith('select'))
print(sql2.lstrip().startswith('insert'))

True
True
True

In [116]:
# 문자의 마지막이 특정한 문자와 같은가?
file_path = ["../csv/test.csv", 
"../csv/test2.xlsx", 
"../csv/test3.json", 
"../csv/test4.txt", 
"../csv/test5.csv"]

for i in file_path:
    # 파일의 경로 중 확장자가 csv인 데이터만 출력 
    if i.endswith('.csv'):
        print(i)

../csv/test.csv
../csv/test5.csv

In [120]:
# startswith() 함수 흐름을 생각
# 문자열에서 시작하는 문자가 입력값과 같은지?
# 'select'값으로 시작하는가?
# 특정 문자에서 처음부터 7번째 전까지의 문자를 추출
# 위에서 나온 결과인 문자열과 'select'가 같은가?
text = 'select'
sql[:len(text)] == text

True

In [123]:
# endswith() 함수 흐름을 생각 
text2 = ".csv"
file_path2 = "../csv/test.csv"

file_path2[-len(text2):] == text2

True

In [143]:
dict_text = {
    "name" : ['test', 'test2', 'test3'], 
    "age" : [20, 30, 40]
}
# dict안에 list로 되어있는 데이터의 형태를
# list 안에 dict로 변경 [{'name':'test', 'age':20}, {'name':'test2', 'age':30},...]
result = []

for i in dict_text:
    # print(i)
    # 두번째 반복문 : dict_text[i]의 길이만큼 반복
    for j in range(len(dict_text[i])):
        # j 변수가 의미하는것은?-> index
        # print(j, i)
        # dict를 result에 추가 -> append()
        # 조건식
        if len(dict_text[i]) > len(result):
            result.append({})
        # print(result)
        # i를 key로 해서 각각의 value() 추가 
        # -> result[index][key] = value
        result[j][i] = dict_text[i][j]
        print(result)

[{'name': 'test'}]
[{'name': 'test'}, {'name': 'test2'}]
[{'name': 'test'}, {'name': 'test2'}, {'name': 'test3'}]
[{'name': 'test', 'age': 20}, {'name': 'test2'}, {'name': 'test3'}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3'}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20, 'loc': 'a'}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20, 'loc': 'a'}, {'name': 'test2', 'age': 30, 'loc': 'b'}, {'name': 'test3', 'age': 40}]

In [141]:
dict_text = {
    "name" : ['test', 'test2', 'test3'], 
    "age" : [20, 30, 40], 
    'loc' : ['a', 'b', 'c']
}
result = []
# 첫번째 values의 길이 만큼 반복 
for i in range(len(list(dict_text.values())[0])):
    print(i)
    dict_data = {}
    for j in dict_text:
        dict_data[j] = dict_text[j][i]
    # print(dict_data)
    result.append(dict_data)
print(result)

0
1
2

IndexError: list index out of range