#### 데이터의 정형화
- 컬럼의 데이터들끼리의 정형화 
- 결측치 부분 특정 조건에 맞춰서 채우는 작업

In [ ]:
import pandas as pd

In [ ]:
# csv 폴더에 uriage.csv 파일 로드 
df = pd.read_csv("../../csv/uriage.csv")

In [ ]:
df.head()

- item_name의 데이터의 대소문자 
    - 대문자 통일 : upper() -> 문자열 내장함수
- item_name의 글자 사이의 공백
    - 공백을 제거  
        - strip()
            - 문자열 시작과 끝의 공백을 제거 
        - replace()
            - 특정 문자를 다른 문자로 대체
            - 특정 문자를 공백으로 입력하고 다른 문자를 빈 문자 사용하면 공백 제거
- item_price 결측치가 존재

In [ ]:
# 인덱스 2의 item_name의 데이터를 "상 품 a" -> "상품A"
data = df.loc[2, 'item_name'].upper()
data.replace(" ", "")

In [ ]:
# 데이터프레임의 정보를 출력 
df.info()

In [ ]:
# 결측치의 개수를 확인
df.isna().sum()

In [ ]:
# 데이터프레임에서 item_name에 있는 모든 데이터를 대문자로 변경
# 문자열 사이의 공백을 모두 제거 
df['item_name'].replace("상 품 a", "상품A")

In [ ]:
# upper()함수는 문자열에서만 사용이 가능하고
# replace()함수는 Series에서는 문자가 기준이 아니라 원소 기준이기 때문에
# 문자열 replace() 함수 사용

# 복사본 생성
df2 = df.copy()

In [ ]:
# case1 ( 반복문 ) : for
data_list = []

# df2.loc[0, 'item_name'].upper().replace(" ", "")
# df2.loc[1, 'item_name'].upper().replace(" ", "")
# df2.loc[2, 'item_name'].upper().replace(" ", "")
# # ....
# df2.loc[2998, 'item_name'].upper().replace(" ", "")

for i in range( len(df2) ):
    data = df2.loc[i, 'item_name'].upper().replace(" ", "")
    data_list.append(data)

data_list

In [ ]:
# case2 (반복문) while

# 초기값
i = 0

data_list2 = []

while i < len(df2):
    data = df2.loc[i, 'item_name'].upper().replace(" ", "")
    data_list2.append(data)
    i += 1

data_list2

In [ ]:
# 1차원 리스트로 생성하여 스리즈에 해당 데이터를 삽입 하는 것이 아니라 
# 데이터 변환 즉시 데이터를 삽입

i = 0

while True:
    try:
        df2.loc[i, 'item_name'] = \
            df2.loc[i, 'item_name'].upper().replace(" ", "")
        i += 1
    except:
        break

In [ ]:
df2.head()

In [ ]:
df2['item_name'].unique()

In [ ]:
set(df2['item_name'])

In [ ]:
# case3 
# df['item_name'].str.upper()
# df['item_name'].str.replace(" ", "")
# df['item_name'].str.upper().replace(" ", "")
# df['item_name'].str.replace(" ", "").upper()
df['item_name'] = \
    df['item_name'].str.replace(" ", "").str.upper()

In [ ]:
# unique() 함수를 간단하게 생성
# 매개변수 1개
    # 되돌려줄 빈 리스트 생성(result)
    # 인자값(리스트)의 개수 만큼 반복
        # 인자값(리스트)중 원소의 result에 포함되어있는지?
        # 포함되어있지 않다면 result에 추가 
        # 포함되어있다면 아무 행동도 하지 않는다. 
    # result를 되돌려준다. 
def unique_custom(input_list):
    result = []

    # for i in range(len(input_list)):
    #     # i : 0, 1, 2 -> 위치
    #     # 포함되어 있지 않다. 
    #     if input_list[i] not in result:
    #         result.append(input_list[i])
    for i in input_list:
        # i : list의 원소들이 하나씩 대입
        if i not in result:
            result.append(i)
    # result를 오름차순 정렬 변경
    result.sort()
    return result

In [ ]:
_list = ['a', 'a', 'b', 'c', 'c', 'd']

unique_custom(_list)

In [ ]:
sorted(unique_custom(df['item_name']))

In [ ]:
unique_custom(df['item_name'])

- replace() 함수 생성
    - 1차원 데이터에서 replace()
        - 매개변수(_list,a, b) 3개
        - 1차원 데이터의 원소들을 a와 비교해서 같다면 해당 위치의 데이터를 b로 변경
    - 문자열에서 replace()

In [ ]:
list_data = ['a', 'a', 'ab', 'c']

def list_replace(_list, a , b):
    # _list 입력되는 값들 중 a와 같은 데이터가 존재한다면 변경 
    for i in range(len(_list)):
        # a와 _list의 i번째 항목과 같은가?
        if _list[i] == a:
            # _list의 i번째 항목에 b을 대입
            _list[i] = b

In [ ]:
list_replace(list_data, 'a', 'A')

In [ ]:
list_data

In [ ]:
def list_replace2(_list, a, b):
    result = []

    for i in _list:
        if i == a:
            # result에 b를 대입
            result.append(b)
        else:
            result.append(i)
    return result

In [ ]:
list_data2 = ['a', 'a', 'b', 'c']

In [ ]:
list_replace2(list_data2, 'a', 'A')

In [ ]:
list_data2

In [ ]:
# 문자열에서 사용되는 replace 함수 구현 
# 매개변수 3개 ( _str, a, b )
# 결과(result) 값으로 "" 문자열 생성
# _str의 문자 하나씩 추출하여 a와 비교
    # 같다면 b를 result에 추가(+)
    # 같지 않다면 원래의 문자를 result에 추가(+)
# 결과를 되돌려준다.
def text_replace(_str, a, b):
    result = ""

    # for i in range(len(_str)):
    #     # i : 0, 1, 2 -> 위치
    #     if _str[i] == a:
    #         # result += b
    #         result = result + b
    #     else:
    #         result += _str[i]
    for i in _str:
        # i : 문자열의 문자 하나씩
        if i == a:
            result += b
        else:
            result += i
    return result

In [ ]:
test_text = 'abcd'

text_replace(test_text, 'a', 'ABCDE')

In [ ]:
text_replace(test_text, 'ab', 'AB')

In [ ]:
def text_replace2(_str, a, b):
    # a 매개변수에 입력이 되는 문자의 개수가 2개 이상
    # text_replace()를 정상적으로 작동 x
    # for i in _str:
    #     print(i)
    result = ""
    stop_cnt = 0
    for i in range(len(_str)):
        # stop_cnt이 0보다 큰 경우에는 아래의 코드를 무시하고 반복문으로 되돌아간다. 
        if stop_cnt > 0:
            stop_cnt -= 1
            continue
        # print(_str[i:i+len(a)])
        if _str[i : i+len(a)] == a:
            result += b
            # 다음 반복(a의 길이의 -1)에는 아무행동도 하지 않도록 반복문 수정
            # 임의의 변수를 하나 생성
            stop_cnt = len(a) - 1
        else:
            result += _str[i]
            # result += _str[i:i+len(a)]
    return result

# 'abcd' -> 반복 횟수 4번
# 첫번째 반복 : i = 0, len(a) = 2,  _str[0 : 2] = 'ab'
#               if 'ab' == 'ab' -> True -> result += 'AB'
#               result = "AB"
# 두번째 반복 : i = 1, len(a) = 2, _str[1 : 3] = 'bc'
#               if 'bc' == 'ab' -> False -> result += 'b'
#               result = 'ABb'

In [ ]:
text_replace2(test_text, 'abc', 'ABC')

In [ ]:
def text_replace3(_str, a, b):
    # 초기값
    i = 0
    result = ""

    # while True:
    while i < len(_str):

        if _str[i : i+len(a)] == a:
            result += b
            # i 얼마나 증가시키는가?
            i += len(a)
        else:
            result += _str[i]
            i += 1
    return result

In [ ]:
text_replace3(test_text, 'ab', 'AB')

In [ ]:
'abcd'
['a', 'b', 'c']

In [ ]:
# 변수의 타입이 문자라면?
type('abc') == str

In [ ]:
def replace_custom(_data, a, b):
    # 만약에 _data 변수의 타입이 문자라면?
    if type(_data) == str:
        # 초기값
        i = 0
        result = ""

        # while True:
        while i < len(_data):

            if _data[i : i+len(a)] == a:
                result += b
                # i 얼마나 증가시키는가?
                i += len(a)
            else:
                result += _data[i]
                i += 1
    else:
        result = []

        for i in _data:
            if i == a:
                # result에 b를 대입
                result.append(b)
            else:
                result.append(i)
    return result

In [ ]:
test_text = 'Hello World'

In [ ]:
replace_custom(test_text, 'Hello', 'Hi')

In [ ]:
replace_custom(df['item_name'], '상품A', '상품a')

In [ ]:
# 결측치는 특정한 조건에 맞춰서 결측치를 채우는 방법

# item_name이 상품A이고 item_price가 결측치인 데이터 

# item_name이 상품A이고 item_price가 결측치가 아닌 데이터

# item_name이 상품A인 조건식
flag = df['item_name'] == '상품A'
# loc[인덱스 조건]
df.loc[flag]

In [ ]:
# 데이터중 결측치가 포함되어있는 데이터 확인
flag_null = df.isna().any(axis=1)
df.loc[flag_null]

In [ ]:
# 데이터충 결측치가 포함되어있지 않은 데이터 확인 
df.loc[~flag_null]

In [ ]:
df.loc[ df.notna().all(axis=1) ]

In [ ]:
df.isna().any(axis=1)

In [ ]:
# item_name이 상품A이고고 item_price가 결측치가 아닌 데이터를 확인
# 상품A item_price의 결측치인 부분에 어떤 데이터로 채워야하는가?
flag_null = df['item_price'].isna()
df.loc[flag & ~flag_null]

- 상품명에 따라 결측치를 채워준다. 
    1. 상품A인 데이터중 item_price가 결측치가 아닌 데이터들의 item_price의 평균 변수에 저장
    2. 상품A인 데이터중 item_price가 결측치인 데이터에 평균을 대입
    3. 위의 작업을 상품A부터 상품Z까지 반복

In [ ]:
# item_name이 상품A인 경우 
flag = df['item_name'] == '상품A'
# item_price가 결측치인 경우 
flag_null = df['item_price'].isna()
# 1번작업 ( item_price 평균)
# df.loc[flag & ~flag_null].describe().loc['mean', 'item_price']
mean_data = \
    df.loc[flag & ~flag_null, 'item_price'].mean()

In [ ]:
# case1
df.loc[flag & flag_null] = \
    df.loc[flag & flag_null].fillna(mean_data)
# case2
# df.loc[flag & flag_null, 'item_price'] = mean_data

In [ ]:
df.loc[flag & flag_null, 'item_price']

In [133]:
# 상품A ~ 상품Z 까지(item_name의 유니크 값) 반복 작업 
item_list = df['item_name'].unique()

# item_price가 결측치인 경우 
flag_null = df['item_price'].isna()
# 반복문 생성 
for i in item_list:
    # i : item_list의 각 원소의 값 (상품A, 상품B, ...)
    # item_name이 상품A인 경우 
    flag = df['item_name'] == i
    # 1번작업 ( item_price 평균)
    # df.loc[flag & ~flag_null].describe().loc['mean', 'item_price']
    mean_data = \
        df.loc[flag & ~flag_null, 'item_price'].mean()
    df.loc[flag & flag_null] = \
        df.loc[flag & flag_null].fillna(mean_data)

In [134]:
df.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [135]:
# 그룹화 연산 
df[['item_name', 'item_price']].groupby(['item_name']).mean()

           item_price
item_name
상품A             100.0
상품B             200.0
상품C             300.0
상품D             400.0
상품E             500.0
상품F             600.0
상품G             700.0
상품H             800.0
상품I             900.0
상품J            1000.0
상품K            1100.0
상품L            1200.0
상품M            1300.0
상품N            1400.0
상품O            1500.0
상품P            1600.0
상품Q            1700.0
상품R            1800.0
상품S            1900.0
상품T            2000.0
상품U            2100.0
상품V            2200.0
상품W            2300.0
상품X            2400.0
상품Y            2500.0
상품Z            2600.0