In [ ]:
import pandas as pd

In [ ]:
# csv 파일 로드 
# pd.read_csv(파일의경로, encoding = '')
# 절대 경로 : c:/Users/admin/document/a.csv , https://www.google.com
# 상대 경로 : ./ -> 작업 디렉토리
#            ../ -> 상위 디렉토리 이동
#            폴더명/ -> 하위 디렉토리 이동
# 상위 이동(../) -> 상위 이동(../) -> csv 폴더 이동(csv/) -> AAPL.csv
# ../../csv/AAPL.csv
AAPL = pd.read_csv("../../csv/AAPL.csv")

In [ ]:
# 데이터프레임의 상위 5개 출력 
AAPL.head()

In [ ]:
# json 파일 로드 
# ../ + ../ + csv/ + 2019/ + file
df = pd.read_json("../../csv/2019/201901_expense_list.json")

In [ ]:
df.head()

In [ ]:
# xml 파일 로드 
df_xml = pd.read_xml("../../csv/2021/202101_expense_list.xml")

In [ ]:
# 데이터프레임에서 하위의 5개를 출력 
df_xml.tail()

In [ ]:
df2 = pd.read_csv("../../csv/주민등록.csv", encoding='cp949')

In [ ]:
# !pip install lxml

In [ ]:
df2.head()

In [ ]:
# !pip install openpyxl

In [ ]:
# excel 데이터 로드 
df3 = pd.read_excel("../../csv/2020/202001_expense_list.xlsx")

In [ ]:
df3.head()

In [ ]:
# tsv 파일을 로드 
df4 = pd.read_csv("../../csv/num_1/chipotle.tsv", sep="\t")

In [ ]:
df4.head()

#### 결측치 
- 데이터프레임에서 value가 존재하지 않는 공간
- NaN 표시

In [ ]:
import numpy as np

In [ ]:
data = [
    [1, 2, np.nan, 4, 5], 
    [1, np.nan, 3, 4, 5], 
    [1, 2, 3, np.nan, 5]
]
col = ['s1', 's2', 's3', 's4', 's5']
df = pd.DataFrame(data, columns=col)

In [ ]:
df

In [ ]:
# 데이터프레임의 정보를 출력하는 함수 
df.info()

In [ ]:
# 결측치 여부를 출력하는 함수 
df.isna()

In [ ]:
# 결측치의 개수를 출력 -> 합계(sum)함수를 이용
# True(1), False(0)
df_null = df.isna()
print(type(df_null))

In [ ]:
# DataFrame 안에 sum()함수의 매개변수 axis
# 0, rows(기본값) : 컬럼을 기준으로 데이터의 합
# 1, cloumns : 인덱스를 기준으로 데이터의 합합
df_null.sum(axis="columns")

In [ ]:
df_null.sum(axis=1)

In [ ]:
#  결측치의 유무를 판단하는 함수 
df.isna().any(axis=1)

In [ ]:
# 결측치를 제거하는 함수 
# 결측치가 포함되어 있는 열, 행을 제거 
# dropna()
# axis 매개변수 존재
# 기본값을 행을 제거 (0 | rows)
# 열을 제거(1 | columns)
df.dropna(axis='columns')

In [ ]:
# 결측치에 다른 값을 대체 
# fillna(data) : 결측치를 data로 대체 
# method 매개변수
    # ffill : 앞의 행의 데이터로 대체 
    # bfill : 뒤의 행의 데이터로 대체

df.fillna(10)

In [ ]:
# 특정 컬럼에 있는 결측치만 대체 
# 데이터프레임에서 특정 컬럼을 선택 -> 결측치를 대체 -> 특정 컬럼에 대입
df['s2'] = df['s2'].fillna(10)

In [ ]:
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='bfill')

#### 데이터프레임의 필터링 
- 데이터프레임명.loc[ 인덱스의조건, 컬럼의조건 ]
    - 인덱스의 값을 기준으로 필터 
    - 컬럼의 값을 기준으로 필터
- 데이터프레임명.iloc[ 인덱스의위치, 컬럼의위치 ]
    - 인덱스의 위치를 기준으로 필터 
    - 컬럼의 위치를 기준으로 필터 
- 데이터프레임명[컬럼명]
    - 특정 컬럼의 데이터를 확인
    - 결과가 Series 출력
- 데이터프레명명[ [컬럼명] ]
    - 특정 컬럼의 데이터를 확인
    - 결과가 DataFrame 출력력

In [ ]:
data = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
    ]
index = [1,4,7]
col = ['a', 'b', 'c']
df = pd.DataFrame(data, index=index, columns=col)

In [60]:
df

   a  b  c
1  1  2  3
4  4  5  6
7  7  8  9

In [ ]:
# loc (인덱스의 조건)
df.loc[ [4] ]

In [ ]:
# loc (컬럼의 조건)
df.loc[ : ,['a'] ]

In [ ]:
df[ ['a'] ]

In [63]:
# 특정한 조건식에 맞춰서 데이터 필터 
# a 컬럼의 데이터들 중에 3보다 큰 데이터만 확인 
# a컬럼을 추출 -> 3보다 큰가? -> 3보다 큰 데이터를 출력
flag = df['a'] > 3
df.loc[flag]

   a  b  c
4  4  5  6
7  7  8  9

In [66]:
# 인덱스 7의 데이터 중 8보다 큰 컬럼의 데이터를 확인 
flag2 = df.loc[7] > 8
df.loc[: , flag2]

   c
1  3
4  6
7  9

In [67]:
df.loc[flag, flag2]

   c
4  6
7  9

In [69]:
# iloc (인덱스의 위치)
df.iloc[ [1] ]

   a  b  c
4  4  5  6

In [70]:
df.iloc[ : , [2] ]

   c
1  3
4  6
7  9

In [72]:
df.loc[4, 'b'] = 10

In [73]:
df

   a   b  c
1  1   2  3
4  4  10  6
7  7   8  9