#### corona 데이터를 확인

In [ ]:
import pandas as pd

In [ ]:
# 외부의 데이터파일 로드 
corona = pd.read_csv("../../csv/corona.csv")

In [ ]:
# 데이터프레임의 정보를 출력 
corona.info()

In [ ]:
# 결측치의 개수를 컬럼을 기준으로 확인 
corona.isna().sum()

In [ ]:
# 결측치가 포함되어있는 인덱스를 확인 
flag =corona.isna().any(axis='columns')

In [ ]:
flag2 = corona.notna().any(axis=1)

In [ ]:
# 결측치가 포함되어있는 데이터를 확인 
corona.loc[flag]

In [ ]:
# 결측치가 포함되어있지 않은 데이터를 확인 
corona.loc[~flag]

In [ ]:
corona.loc[-flag]

In [ ]:
corona.head()

In [ ]:
# 특정 컬럼을 제거
# case1 (loc)
# 인덱스의 조건 : 전체
# 컬럼의 조건 : createDt부터 마지막까지
corona.loc[:, 'createDt':]

In [ ]:
# case2 (iloc)
# 인덱스의 위치 :  전체
# 컬럼의 위치 : 2번째(index = 1)부터 마지막까지
corona.iloc[:, 1:]

In [27]:
# case3 (drop() 함수 이용)
# drop(조건, axis = {0 | 1, 'rows' | 'columns'}, inplace = bool)
# 조건에 따라 데이터를 제거하는 함수 
# axis 행을 지울것인가? 열을 지울것인가?
# inplace 변경된 데이터를 저장할것인가?
df = corona.drop(
    ["Unnamed: 0", "seq"], 
    axis = 1
)

In [ ]:
df.head()

In [29]:
# df의 복사본을 생성 
df2 = df.copy()

In [31]:
# 컬럼의 이름을 변경 
df.columns = ["등록일시", '총사망자', '총확진자', '기준일', '기준시간', 
            '수정일시', '누적의심자', '누적확진율율']

In [32]:
df.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [34]:
df2.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'stateDt', 'stateTime', 'updateDt',
       'accExamCnt', 'accDefRate'],
      dtype='object')

In [ ]:
# case2 (rename() 함수를 이용)
df2.rename(
    columns = {
        'createDt' : "등록일시", 
        'deathCnt' : '총사망자', 
        'decideCnt' : '총확진자', 
        'stateDt' : '기준일', 
        'stateTime' : '기준시간', 
        'updateDt' : '수정일시', 
        'accExamCnt' : '누적의심자', 
        'accDefRate' : '누적확진율'
    }
)

In [36]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [ ]:
# 누적의심자가 결측치인 데이터를 출력 
df.loc[ df['누적의심자'].isna() ]

In [42]:
# 누적의심자에서 결측치가 시작되는 지점부터 위 아래 2개씩의 데이터를 확인
df.loc[125:129]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
125,2022-02-03 08:46:14.856,6812,907200,20220203,00:00,2022-02-09 13:04:42.741,NaN,NaN
126,2022-02-02 09:04:49.92,6787,884294,20220202,00:00,2022-02-09 13:04:29.013,NaN,NaN
127,2022-02-01 09:06:24.411,6772,864026,20220201,00:00,2022-02-09 13:04:21.424,NaN,NaN
128,2022-01-31 09:22:37.347,6755,845688,20220131,00:00,2022-02-07 09:06:04.861,21518073.0,NaN
129,2022-01-30 09:13:00.269,6732,828611,20220130,00:00,2022-02-07 09:05:54.937,21448119.0,NaN

In [44]:
# 데이터프레임의 정렬을 변경 
# 오름차순 / 내림차순
# sort_index() : 인덱스의 값을 기준으로 오름/내림
# sort_values(조건) : 조건? 컬럼의 이름
# ascending = bool 매개변수 존재 (True : 오름차순, False : 내림차순)
df.sort_values(
    ['등록일시'], 
    inplace = True
)

In [ ]:
df.head(2)

In [49]:
# 인덱스를 초기화하고 재지정
# reset_index()
# drop 매개변수 : 기존의 인덱스를 제거할지 선택(기본값 : False)
# df.reset_index().drop('index', axis=1)
df.reset_index(drop=True)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN