#### corona 데이터를 확인

In [ ]:
import pandas as pd

In [ ]:
# 외부의 데이터파일 로드 
corona = pd.read_csv("../../csv/corona.csv")

In [ ]:
# 데이터프레임의 정보를 출력 
corona.info()

In [ ]:
# 결측치의 개수를 컬럼을 기준으로 확인 
corona.isna().sum()

In [ ]:
# 결측치가 포함되어있는 인덱스를 확인 
flag =corona.isna().any(axis='columns')

In [ ]:
flag2 = corona.notna().any(axis=1)

In [ ]:
# 결측치가 포함되어있는 데이터를 확인 
corona.loc[flag]

In [ ]:
# 결측치가 포함되어있지 않은 데이터를 확인 
corona.loc[~flag]

In [ ]:
corona.loc[-flag]

In [ ]:
corona.head()

In [ ]:
# 특정 컬럼을 제거
# case1 (loc)
# 인덱스의 조건 : 전체
# 컬럼의 조건 : createDt부터 마지막까지
corona.loc[:, 'createDt':]

In [ ]:
# case2 (iloc)
# 인덱스의 위치 :  전체
# 컬럼의 위치 : 2번째(index = 1)부터 마지막까지
corona.iloc[:, 1:]

In [27]:
# case3 (drop() 함수 이용)
# drop(조건, axis = {0 | 1, 'rows' | 'columns'}, inplace = bool)
# 조건에 따라 데이터를 제거하는 함수 
# axis 행을 지울것인가? 열을 지울것인가?
# inplace 변경된 데이터를 저장할것인가?
df = corona.drop(
    ["Unnamed: 0", "seq"], 
    axis = 1
)

In [ ]:
df.head()

In [29]:
# df의 복사본을 생성 
df2 = df.copy()

In [31]:
# 컬럼의 이름을 변경 
df.columns = ["등록일시", '총사망자', '총확진자', '기준일', '기준시간', 
            '수정일시', '누적의심자', '누적확진율율']

In [32]:
df.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [34]:
df2.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'stateDt', 'stateTime', 'updateDt',
       'accExamCnt', 'accDefRate'],
      dtype='object')

In [ ]:
# case2 (rename() 함수를 이용)
df2.rename(
    columns = {
        'createDt' : "등록일시", 
        'deathCnt' : '총사망자', 
        'decideCnt' : '총확진자', 
        'stateDt' : '기준일', 
        'stateTime' : '기준시간', 
        'updateDt' : '수정일시', 
        'accExamCnt' : '누적의심자', 
        'accDefRate' : '누적확진율'
    }
)

In [36]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [ ]:
# 누적의심자가 결측치인 데이터를 출력 
df.loc[ df['누적의심자'].isna() ]

In [42]:
# 누적의심자에서 결측치가 시작되는 지점부터 위 아래 2개씩의 데이터를 확인
df.loc[125:129]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율
125,2022-02-03 08:46:14.856,6812,907200,20220203,00:00,2022-02-09 13:04:42.741,NaN,NaN
126,2022-02-02 09:04:49.92,6787,884294,20220202,00:00,2022-02-09 13:04:29.013,NaN,NaN
127,2022-02-01 09:06:24.411,6772,864026,20220201,00:00,2022-02-09 13:04:21.424,NaN,NaN
128,2022-01-31 09:22:37.347,6755,845688,20220131,00:00,2022-02-07 09:06:04.861,21518073.0,NaN
129,2022-01-30 09:13:00.269,6732,828611,20220130,00:00,2022-02-07 09:05:54.937,21448119.0,NaN

In [44]:
# 데이터프레임의 정렬을 변경 
# 오름차순 / 내림차순
# sort_index() : 인덱스의 값을 기준으로 오름/내림
# sort_values(조건) : 조건? 컬럼의 이름
# ascending = bool 매개변수 존재 (True : 오름차순, False : 내림차순)
df.sort_values(
    ['등록일시'], 
    inplace = True
)

In [ ]:
df.head(2)

In [51]:
# 인덱스를 초기화하고 재지정
# reset_index()
# drop 매개변수 : 기존의 인덱스를 제거할지 선택(기본값 : False)
# df.reset_index().drop('index', axis=1)
df.reset_index(drop=True, inplace=True)

In [ ]:
# 일일사망자 데이터를 생성
# 오늘의 총사망자수 - 어제의 총사망자수
df.loc[1, '총사망자'] - df.loc[0, '총사망자']
df.loc[2, '총사망자'] - df.loc[1, '총사망자']
df.loc[3, '총사망자'] - df.loc[2, '총사망자']
df.loc[4, '총사망자'] - df.loc[3, '총사망자']
# ....
df.loc[820, '총사망자'] - df.loc[819, '총사망자']

6

In [57]:
len(df)

820

In [60]:
# 일일사망자의 수를 계산하여 저장해야될 공간을 생성
# 리스트로 생성 첫날의 일일사망자는 비교군이 존재하지 않아서 0
death_cnt = [0]
# 오늘의 데이터에서 전날의 데이터를 뺀 결과를 death_cnt 추가 
# 반복문이용 
# 0부터 819까지 반복을 하는 반복문
for i in range(len(df) - 1):
    data = df.loc[i+1, '총사망자'] - df.loc[i, '총사망자']
    death_cnt.append(data)
print(death_cnt)

[0, 6, 6, 1, 5, 3, 0, 6, 3, 7, 3, 8, 2, 7, 9, 6, 5, 8, 5, 8, 6, 4, 3, 4, 5, 3, 6, 3, 6, 8, 4, 4, 3, 3, 3, 5, 3, 4, 1, 2, 2, 2, 1, 1, 2, 0, 0, 2, 1, 1, 2, 1, 1, 2, 0, 2, 2, 1, 1, 0, 0, 0, 0, 2, 1, 1, 2, 0, 1, 0, 0, 1, 0, 2, 0, 1, 2, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 2, 1, 0, 1, 0, 0, 0, 2, 2, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 1, 2, 1, 3, 5, 2, 1, 0, 2, 3, 2, 2, 1, 2, 5, 3, 2, 4, 5, 3, 5, 4, 0, 5, 5, 1, 5, 2, 3, 0, 5, 2, 4, 2, 5, 1, 6, 2, 1, 4, 1, 1, 0, 3, 2, 1, 2, 2, 1, 1, 4, 1, 2, 2, 1, 0, 3, 3, 3, 2, 2, 0, 0, 3, 1, 1, 1, 1, 2, 2, 4, 2, 1, 1, 1, 1, 2, 5, 2, 0, 1, 4, 1, 1, 0, 2, 2, 3, 2, 2, 4, 1, 3, 2, 1, 6, 1, 3, 0, 0, 3, 7, 4, 5, 4, 3, 4, 8, 8, 6, 2, 7, 13, 12, 22, 11, 14, 15, 24, 24, 17, 17, 17, 20, 15, 11, 40, 20, 21, 17, 25, 20, 19, 26, 20, 19, 35, 19, 25, 15, 25, 20, 10, 22, 19, 13, 15, 19, 17, 16, 12, 9, 12, 11, 11, 7, 8, 13, 15, 6, 5, 10, 6, 7, 11, 5, 7, 3, 8, 4, 10, 11, 7, 8, 5, 7, 4, 6, 6, 3, 4, 5, 11, 3, 5, 4, 10, 8, 2, 1, 6, 7, 8, 5, 2, 8, 3, 3, 4, 10, 5, 2, 6, 3, 8, 2, 2, 3, 3, 1, 7, 3, 2, 7, 5, 1, 4, 3, 2, 4, 2, 3, 4, 4, 4, 4, 2, 6, 1, 3, 2, 5, 7, 6, 2, 4, 3, 4, 1, 4, 2, 3, 1, 1, 4, 3, 1, 4, 3, 3, 2, 1, 6, 7, 4, 9, 5, 9, 1, 4, 5, 7, 2, 3, 4, 3, 1, 8, 4, 6, 4, 5, 3, 4, 2, 3, 3, 5, 8, -2, 6, 2, 3, 1, 2, 2, 1, 1, 2, 2, 2, 1, 3, 3, 4, 1, 1, 2, 1, 5, 2, 2, 1, 1, 1, 3, 1, 2, 2, 1, 3, 3, 1, 1, 2, 4, 1, 1, 2, 2, 5, 1, 2, 2, 2, 1, 4, 2, 1, 1, 1, 3, 3, 2, 5, 4, 2, 4, 2, 4, 6, 3, 1, 5, 2, 3, 4, 3, 5, 4, 9, 1, 3, 6, 4, 8, 11, 6, 5, 13, 6, 5, 13, 7, 6, 9, 20, 8, 11, 3, 5, 1, 7, 11, 5, 7, 6, 6, 3, 4, 9, 5, 10, 1, 1, 7, 13, 6, 3, 5, 9, 6, 4, 6, 8, 7, 7, 9, 6, 8, 10, 7, 16, 7, 3, 6, 11, 12, 8, 10, 6, 15, 8, 11, 11, 13, 8, 18, 16, 8, 21, 9, 11, 16, 20, 21, 7, 15, 9, 11, 9, 13, 19, 9, 16, 18, 24, 20, 20, 11, 13, 18, 14, 21, 18, 32, 20, 12, 22, 21, 29, 28, 29, 30, 24, 30, 34, 39, 39, 52, 56, 32, 44, 34, 47, 34, 70, 43, 41, 64, 63, 57, 53, 80, 42, 40, 94, 70, 62, 73, 53, 78, 54, 52, 78, 109, 56, 105, 69, 55, 46, 36, 73, 108, 62, 69, 36, 51, 57, 49, 45, 54, 51, 34, 43, 52, 44, 49, 22, 29, 23, 45, 74, 28, 21, 28, 11, 25, 23, 32, 34, 24, 34, 20, 23, 17, 15, 25, 24, 22, 15, 13, 36, 21, 20, 49, 33, 36, 21, 61, 39, 36, 45, 71, 51, 45, 58, 99, 82, 94, 112, 49, 114, 112, 96, 128, 186, 216, 161, 139, 186, 158, 206, 229, 269, 251, 200, 293, 164, 429, 301, 319, 327, 329, 384, 291, 469, 393, 323, 282, 287, 237, 432, 375, 360, 339, 306, 218, 209, 371, 348, 373, 338, 329, 258, 171, 184, 318, 264, 273, 203, 132, 130, 166, 147, 206, 151, 109, 110, 82, 141, 122, 136, 70, 81, 83, 49, 72, 79, 48, 83, 71, 40, 62, 29, 63, 52, 55, 48, 35, 27, 31, 40, 43, 26, 54, 22, 19, 23, 34, 40, 36, 19, 9, 9, 21, 15, 17, 9, 20, 21, 20, 6]

In [61]:
# while 사용 
# 초기값
i = 0
death_cnt2 = [0]

# 819번 반복
while True:
    try:
        data = df.loc[i+1, '총사망자'] - df.loc[i, '총사망자']
        death_cnt2.append(data)
        i += 1
    except:
        # 반복 실행하는 코드가 에러가 발생하다면
        break
    
print(len(death_cnt2))
print(death_cnt2)

820
[0, 6, 6, 1, 5, 3, 0, 6, 3, 7, 3, 8, 2, 7, 9, 6, 5, 8, 5, 8, 6, 4, 3, 4, 5, 3, 6, 3, 6, 8, 4, 4, 3, 3, 3, 5, 3, 4, 1, 2, 2, 2, 1, 1, 2, 0, 0, 2, 1, 1, 2, 1, 1, 2, 0, 2, 2, 1, 1, 0, 0, 0, 0, 2, 1, 1, 2, 0, 1, 0, 0, 1, 0, 2, 0, 1, 2, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 2, 1, 0, 1, 0, 0, 0, 2, 2, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 1, 2, 1, 3, 5, 2, 1, 0, 2, 3, 2, 2, 1, 2, 5, 3, 2, 4, 5, 3, 5, 4, 0, 5, 5, 1, 5, 2, 3, 0, 5, 2, 4, 2, 5, 1, 6, 2, 1, 4, 1, 1, 0, 3, 2, 1, 2, 2, 1, 1, 4, 1, 2, 2, 1, 0, 3, 3, 3, 2, 2, 0, 0, 3, 1, 1, 1, 1, 2, 2, 4, 2, 1, 1, 1, 1, 2, 5, 2, 0, 1, 4, 1, 1, 0, 2, 2, 3, 2, 2, 4, 1, 3, 2, 1, 6, 1, 3, 0, 0, 3, 7, 4, 5, 4, 3, 4, 8, 8, 6, 2, 7, 13, 12, 22, 11, 14, 15, 24, 24, 17, 17, 17, 20, 15, 11, 40, 20, 21, 17, 25, 20, 19, 26, 20, 19, 35, 19, 25, 15, 25, 20, 10, 22, 19, 13, 15, 19, 17, 16, 12, 9, 12, 11, 11, 7, 8, 13, 15, 6, 5, 10, 6, 7, 11, 5, 7, 3, 8, 4, 10, 11, 7, 8, 5, 7, 4, 6, 6, 3, 4, 5, 11, 3, 5, 4, 10, 8, 2, 1, 6, 7, 8, 5, 2, 8, 3, 3, 4, 10, 5, 2, 6, 3, 8, 2, 2, 3, 3, 1, 7, 3, 2, 7, 5, 1, 4, 3, 2, 4, 2, 3, 4, 4, 4, 4, 2, 6, 1, 3, 2, 5, 7, 6, 2, 4, 3, 4, 1, 4, 2, 3, 1, 1, 4, 3, 1, 4, 3, 3, 2, 1, 6, 7, 4, 9, 5, 9, 1, 4, 5, 7, 2, 3, 4, 3, 1, 8, 4, 6, 4, 5, 3, 4, 2, 3, 3, 5, 8, -2, 6, 2, 3, 1, 2, 2, 1, 1, 2, 2, 2, 1, 3, 3, 4, 1, 1, 2, 1, 5, 2, 2, 1, 1, 1, 3, 1, 2, 2, 1, 3, 3, 1, 1, 2, 4, 1, 1, 2, 2, 5, 1, 2, 2, 2, 1, 4, 2, 1, 1, 1, 3, 3, 2, 5, 4, 2, 4, 2, 4, 6, 3, 1, 5, 2, 3, 4, 3, 5, 4, 9, 1, 3, 6, 4, 8, 11, 6, 5, 13, 6, 5, 13, 7, 6, 9, 20, 8, 11, 3, 5, 1, 7, 11, 5, 7, 6, 6, 3, 4, 9, 5, 10, 1, 1, 7, 13, 6, 3, 5, 9, 6, 4, 6, 8, 7, 7, 9, 6, 8, 10, 7, 16, 7, 3, 6, 11, 12, 8, 10, 6, 15, 8, 11, 11, 13, 8, 18, 16, 8, 21, 9, 11, 16, 20, 21, 7, 15, 9, 11, 9, 13, 19, 9, 16, 18, 24, 20, 20, 11, 13, 18, 14, 21, 18, 32, 20, 12, 22, 21, 29, 28, 29, 30, 24, 30, 34, 39, 39, 52, 56, 32, 44, 34, 47, 34, 70, 43, 41, 64, 63, 57, 53, 80, 42, 40, 94, 70, 62, 73, 53, 78, 54, 52, 78, 109, 56, 105, 69, 55, 46, 36, 73, 108, 62, 69, 36, 51, 57, 49, 45, 54, 51, 34, 43, 52, 44, 49, 22, 29, 23, 45, 74, 28, 21, 28, 11, 25, 23, 32, 34, 24, 34, 20, 23, 17, 15, 25, 24, 22, 15, 13, 36, 21, 20, 49, 33, 36, 21, 61, 39, 36, 45, 71, 51, 45, 58, 99, 82, 94, 112, 49, 114, 112, 96, 128, 186, 216, 161, 139, 186, 158, 206, 229, 269, 251, 200, 293, 164, 429, 301, 319, 327, 329, 384, 291, 469, 393, 323, 282, 287, 237, 432, 375, 360, 339, 306, 218, 209, 371, 348, 373, 338, 329, 258, 171, 184, 318, 264, 273, 203, 132, 130, 166, 147, 206, 151, 109, 110, 82, 141, 122, 136, 70, 81, 83, 49, 72, 79, 48, 83, 71, 40, 62, 29, 63, 52, 55, 48, 35, 27, 31, 40, 43, 26, 54, 22, 19, 23, 34, 40, 36, 19, 9, 9, 21, 15, 17, 9, 20, 21, 20, 6]

In [79]:
# 스리즈 데이터에서 데이터 간의 차이를 출력하는 함수가 존재 
death_cnt3 = df['총사망자'].diff(1).fillna(0)

In [80]:
# 스리즈 데이터에서 인덱스를 이동하는 함수 
death_cnt4 =  (df['총사망자'] -  df['총사망자'].shift(1)).fillna(0)

In [76]:
# 리스트로 되어있는 데이터를 데이터프레임에 대입 
df['일일사망자'] = death_cnt

In [ ]:
df.tail(2)

In [81]:
df['일일사망자2'] = death_cnt3
df['일일사망자3'] = death_cnt4

In [82]:
df.tail(3)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율,일일사망자,일일사망자2,일일사망자3
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,21.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,20.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6,6.0,6.0

In [83]:
# 일일확진자 컬럼을 생성
df['일일확진자'] = \
    df['총확진자'].diff().fillna(0)
df['일일확진자2'] = \
    (df['총확진자'] - df['총확진자'].shift()).fillna(0)

In [ ]:
df.tail(3)

In [85]:
df.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000,820.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,29.574390,29.574390,22171.569512,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530863,68.530863,68.530863,71013.854189,71013.854189
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,-2.000000,-2.000000,-2.000000,-430.000000,-430.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,2.000000,2.000000,125.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,5.000000,5.000000,642.500000,642.500000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,20.000000,20.000000,2782.750000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,469.000000,469.000000,621204.000000,621204.000000

In [87]:
# 일일확진자, 일일사망자 수에 음수가 존재??????????
# 조건식 : 일일확진자 데이터중 음수인 데이터
flag = df['일일확진자'] < 0
df.loc[flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430.0,-430.0

In [88]:
df.loc[df['일일사망자'] < 0]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430.0,-430.0

In [91]:
df.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0,533.0,533.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0,910.0,910.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430.0,-430.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0,889.0,889.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0,677.0,677.0

In [93]:
# index 445번의 등록일시 데이터의 문제를 확인 
# 2021-05-30 00:00:00.0 값을 2021-05-31 00:00:00.000 변경
# 인덱스의 조건 : 445
# 컬럼의 조건 : 등록일시
df.loc[445, '등록일시'] = "2021-05-31 00:00:00.000"

In [ ]:
df.loc[444:448]

- '일일사망자', '일일사망자2', '일일사망자3', '일일확진자', '일일확진자2' 컬럼을 제거 
- 등록일시를 기준으로 오름차순 정렬 
- 인덱스를 초기화하고 기존의 인덱스는 제거 
- 일일사망자는 shift() 함수를 이용해서 생성 (결측치는 0) 
- 일일확진자는 diff() 함수를 이용해서 생성 (결측치는 0)
- 새로 생성한 컬럼에서 음수가 존재하는가? 확인

In [106]:
# 특정 컬럼을 제거 
# drop()
df2 = df.drop(
    ['일일사망자', '일일사망자2', '일일사망자3', 
    '일일확진자', '일일확진자2'], 
    axis=1
)

In [101]:
df.rename(
    columns = {
        '누적확진율율' : '누적확진율'
    }, inplace = True
)

In [ ]:
# 컬럼의 조건으로 필터링 
df[ ['등록일시', '기준일'] ]
df.loc[ : , '등록일시' : '누적확진율']
df.loc[ : , : '누적확진율']
df.iloc[ : , : 8]
df.iloc[ : , : -5]

In [107]:
df2.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [109]:
# 등록일시를 기준으로 오름차순 정렬
df2.sort_values(
    ['등록일시'], 
    inplace=True
)

In [113]:
# 인덱스를 초기화하고 기존의 인덱스는 제거 
# df2.reset_index().drop(['index'], axis=1)
df2.reset_index(drop=True, inplace=True)

In [114]:
# 일일사망자 컬럼을 생성하여 총사망자를 이용하여 데이터를 생성 
# shift()
df2['일일사망자'] = \
    (df2['총사망자'] - df2['총사망자'].shift()).fillna(0)

In [115]:
# 일일확진자 컬럼을 생성하여 총확진자를 이용하여 데이터를 생성 
# diff()
df2['일일확진자'] = df2['총확진자'].diff().fillna(0)

In [ ]:
df2.describe()

In [117]:
# 일일사망자 데이터중 음수가 존재하는가?
flag = df2['일일사망자'] < 0
df2.loc[flag]

Empty DataFrame
Columns: [등록일시, 총사망자, 총확진자, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진율, 일일사망자, 일일확진자]
Index: []

#### 일일확진자, 일일사망자 컬럼을 추가하는 함수 
- 매개변수 2개 
    - 첫 인자값 : 데이터프레임
    - 두번째 인자값 : 차순정렬을 할 타켓 컬럼명명
- 특정 컬럼을 제거 
    - 'Unnamed: 0', 'seq' 컬럼을 제거 
- 컬럼의 이름을 변경 
    - '등록일시', '총사망자', '총확진자', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진율' 
- 특정 컬럼의 데이터를 기준으로 오름차순 정렬 
- 인덱스를 초기화하고 기존의 인덱스를 제거 
- 일일확진자 컬럼을 추가 
    - 총확진자의 차이를 가지고 데이터 생성
- 일일사망자 컬럼을 추가 
    - 총사망자의 차이를 가지고 데이터 생성
- 최종 결과 데이터프레임을 되돌려준다.

In [ ]:
def corona_data(_df, _col):
    # 원본의 데이터를 수정하지 않기 위해 복사본 데이터를 생성
    result = _df.copy()
    # 특정 컬럼을 제거
    # Unnamed: 0 컬럼이 존재하면 제거 존재하지않으면 아무행동도 하지 않는다. 
    # 비교 : "Unamed: 0", 데이터프레임의 컬럼들중 포함되어있는가?
    if "Unnamed: 0" in result.columns:
        result.drop(['Unnamed: 0', 'seq'], axis=1, inplace=True)
    else:
        result.drop(['seq'], axis=1, inplace=True)
    # 컬럼의 이름을 변경 
    result.columns = ['등록일시', '총사망자', '총확진자', '기준일', 
    '기준시간', '수정일시', '누적의심자', '누적확진율' ]
    # 특정 컬럼(_col)을 기준으로 오름차순 정렬 
    result.sort_values([_col], inplace=True)
    # 인덱스를 초기화하고 기존의 인덱스는 제거 
    result.reset_index(drop=True, inplace=True)
    # 특정 컬럼을 생성 
    result['일일확진자'] = result['총확진자'].diff().fillna(0)
    result['일일사망자'] = result['총사망자'].diff().fillna(0)
    # 결과를 되돌려준다. 
    return result

In [125]:
df_test = pd.read_csv("../../csv/corona.csv")

In [ ]:
corona_data(df_test, '기준일')
# corona_data 함수 호출 
# _df = df_test, _col = '기준일'

In [ ]:
df_test.sort_index()

In [133]:
df_test.columns[2]

'deathCnt'

In [136]:
def corona_data2(_df, _idx):
    # 원본의 데이터를 수정하지 않기 위해 복사본 데이터를 생성
    result = _df.copy()
    # 특정 컬럼을 제거
    # Unnamed: 0 컬럼이 존재하면 제거 존재하지않으면 아무행동도 하지 않는다. 
    # 비교 : "Unamed: 0", 데이터프레임의 컬럼들중 포함되어있는가?
    if "Unnamed: 0" in result.columns:
        result.drop(['Unnamed: 0', 'seq'], axis=1, inplace=True)
    else:
        result.drop(['seq'], axis=1, inplace=True)
    # 컬럼의 이름을 변경 
    result.columns = ['등록일시', '총사망자', '총확진자', '기준일', 
    '기준시간', '수정일시', '누적의심자', '누적확진율' ]
    # 컬럼들 중 특정 위치의 컬럼의 이름을 변수에 저장
    _col = result.columns[_idx]
    print(_col)
    # 특정 컬럼(_col)을 기준으로 오름차순 정렬 
    result.sort_values([_col], inplace=True)
    # 인덱스를 초기화하고 기존의 인덱스는 제거 
    result.reset_index(drop=True, inplace=True)
    # 특정 컬럼을 생성 
    result['일일확진자'] = result['총확진자'].diff().fillna(0)
    result['일일사망자'] = result['총사망자'].diff().fillna(0)
    # 결과를 되돌려준다. 
    return result

In [139]:
corona_data2(df_test, 2)

총확진자

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0
...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,13358.0,6.0

In [140]:
def corona_data3(_path, _idx):
    # 원본의 데이터를 수정하지 않기 위해 복사본 데이터를 생성
    result = pd.read_csv(_path)
    # 특정 컬럼을 제거
    # Unnamed: 0 컬럼이 존재하면 제거 존재하지않으면 아무행동도 하지 않는다. 
    # 비교 : "Unamed: 0", 데이터프레임의 컬럼들중 포함되어있는가?
    if "Unnamed: 0" in result.columns:
        result.drop(['Unnamed: 0', 'seq'], axis=1, inplace=True)
    else:
        result.drop(['seq'], axis=1, inplace=True)
    # 컬럼의 이름을 변경 
    result.columns = ['등록일시', '총사망자', '총확진자', '기준일', 
    '기준시간', '수정일시', '누적의심자', '누적확진율' ]
    # 컬럼들 중 특정 위치의 컬럼의 이름을 변수에 저장
    _col = result.columns[_idx]
    print(_col)
    # 특정 컬럼(_col)을 기준으로 오름차순 정렬 
    result.sort_values([_col], inplace=True)
    # 인덱스를 초기화하고 기존의 인덱스는 제거 
    result.reset_index(drop=True, inplace=True)
    # 특정 컬럼을 생성 
    result['일일확진자'] = result['총확진자'].diff().fillna(0)
    result['일일사망자'] = result['총사망자'].diff().fillna(0)
    # 결과를 되돌려준다. 
    return result

In [141]:
corona_data3(
    "../../csv/corona.csv", 
    0
)

등록일시

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0
...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,13358.0,6.0