#### 시계열데이터 
- type
    - 년도 표시(4자리수) : %Y
    - 년도 표시(2자리수) : %y
    - 월을 숫자로 표시 : %m
    - 월의 이름을 표시 : %B
    - 월의 이름을 축약해서 표시 : %b
    - 일을 숫자로 표시 : %d
    - 시를 24시 기준으로 표시 : %H
    - 시를 12시 기준으로 표시 : %I
    - AM/PM을 표시 : %p
    - 분을 숫자로 표시 : %M
    - 초를 숫자로 표시 : %S
    - 요일을 이름으로 표시 : %A
    - 요일을 숫자로 표시 : %w ( 0 : 일, ... , 6 : 토 )

In [1]:
from datetime import datetime

In [2]:
time_text = "2025-03-07"

In [3]:
type(time_text)

str

In [5]:
# 문자열 데이터를 시계열 데이터로 변경
time_data = datetime.strptime(time_text, '%Y-%m-%d')
print(time_data)
print(time_text)

2025-03-07 00:00:00
2025-03-07

In [7]:
print(type(time_data))

<class 'datetime.datetime'>

In [9]:
# 시계열 데이터를 문자열 데이터로 변경
time_data.strftime('%y/%m/%d')

'25/03/07'

In [10]:
time_data.strftime('%m월')

'03월'

In [11]:
time_data.strftime('%w')

'5'

In [13]:
time_data.strftime('%a')

'Fri'

In [14]:
import pandas as pd

In [18]:
# pandas에서 제공하는 시계열 데이터 
pd.Timestamp(100000)    # 나노초 단위로 시간을 구한다.

Timestamp('1970-01-01 00:00:00.000100')

In [19]:
pd.Timestamp(100, unit='D')

Timestamp('1970-04-11 00:00:00')

In [22]:
pd.Timestamp('98-03-07')

Timestamp('1998-03-07 00:00:00')

In [23]:
pd.Timestamp("2016-01")

Timestamp('2016-01-01 00:00:00')

In [34]:
time_data2 = pd.to_datetime('2025년 03월 07일', format="%Y년 %m월 %d일")

In [35]:
time_data3 = pd.Timestamp(1, unit='D')

In [36]:
time_data2 - time_data3

Timedelta('20153 days 00:00:00')

In [37]:
pd.Timedelta("3 days")

Timedelta('3 days 00:00:00')

In [38]:
time_data2 - pd.Timedelta('3 days')

Timestamp('2025-03-04 00:00:00')

In [42]:
time_data2 - pd.Timedelta(days= 30)

Timestamp('2025-02-05 00:00:00')

In [43]:
corona = pd.read_csv("../../csv/corona.csv")

In [44]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [ ]:
# 요일별 평균 일일 확진자의 수가 가장 큰 요일은 언제인가?
# 사용할 컬럼들만 추출하여 변수에 저장
df = corona[ ['stateDt', 'decideCnt'] ]

In [ ]:
df.head()